<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion - My Sniffy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <img src="{{ url_for('static', filename='Sniffi.png') }}" alt="Logo My Sniffy" class="logo">
        </div>
    </header>
    <main>
        <h1>Connexion</h1>
        <form method="POST" action="{{ url_for('login') }}">
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Se connecter</button>
        </form>
    </main>
</body>
</html>
